/****************************
 * Mobile dropdown navbar & Sidebar navs
*****************************/
.expandable {
  @apply bg-gray-800 overflow-hidden absolute left-0 w-full px-4;

  top: 4rem;

  transition: max-height 0.5s ease-in-out;
  max-height: 0px;

  &.expand {
    max-height: 100vh;
  }
}

.sidebar-nav {
  @apply w-full bg-gray-800 flex flex-row content-center justify-between items-baseline p-4 h-full border-0 border-b border-gray-700;

  & h2 {
    @apply text-2xl font-bold leading-tight text-gray-200 m-0;

    & a, & a:visited {
      @apply text-gray-200;
    }
  }
}

ul.nav-list {
  @apply list-none px-0 py-2 w-full font-sans;

  & .nav-list-divider {
    @apply my-1 border-b border-gray-700;
  }

  & li.nav-item {
    @apply cursor-pointer text-gray-200 rounded p-2 relative;

    &:hover, &.active {
      @apply text-white bg-gray-900 inset-0;

      & a {
        @apply text-white;
      }
    }

    & a {
      @apply block w-full rounded text-gray-200;

      &:visited {
        @apply text-white;
      }
    }
  }
}

.hamburger-bun {
  @apply flex flex-row justify-around text-white stroke-current;
}

@screen lg {
  .expandable {
    @apply relative mt-2 p-0;

    top: initial;
    max-height: initial;
  }

  .sidebar-nav {
    @apply justify-center flex-col items-center h-auto border-0;
  }

  ul.nav-list {
    @apply p-0;
  }

  .hamburger-bun {
    @apply hidden;
  }
}

/****************************
 * Body and content styling
*****************************/

body {
  @apply dark:bg-[#161616] min-h-screen flex flex-col;
}

a:visited {
  @apply text-[#a700b5];
}

#master-chief {
  @apply grid gap-x-4 mx-auto flex-grow w-full;
  max-width: 1000px;

  grid:
    "sidebar" 4em
    "content" auto
    / 100%;
}

#main-sidebar {
  grid-area: sidebar;

  @apply w-full flex flex-col sticky top-0 z-30;
}

main {
  grid-area: content;

  @apply prose dark:prose-invert h-full w-full min-w-full px-4 py-10;
}

aside {
  grid-area: aside;
}

@screen lg {
  #master-chief {
    grid:
      "content sidebar" 8rem
      "content aside" auto
      / calc(100% - 16rem) 16rem;
  }

  main {
    @apply px-0 py-5;
  }
}

/* TODO: Make a custom print stylesheet that hides things as this doesn't work
 * and there's a lot more to hide anyways
**/
@media print {
  #main-sidebar {
    display: none !important;
  }
}
